@font-face {
      font-family: "mystery-quest";
      src: url('/fonts/MysteryQuest-Regular.woff2') format('woff2'),
            url('/fonts/MysteryQuest-Regular.ttf') format('truetype');
}


@font-face {
      font-family: "bungee-spice";
      src: url('/fonts/BungeeSpice-Regular.ttf') format('truetype');
}